p {
  text-style: Garamond;
}
h1 {
  color : black;
  text-align: center;
  font-size: 300%;
}
h3 {
  color : #D94AE5;
}
h1 {
  border-style : double;
  border-width : medium;
  border-color : #D94AE5;
}
body {
  background-size: 100%;
  background-image: url("image.jpeg");
  background-repeat: no-repeat;
}
