body {
  background-image: url(background.jpg);
}
p {
  text-style: Garamond;
}
h1 {
  color : purple;
  text-align: center;
  font-size: 300%;
}
h3 {
  color : blue;
}
h1 {
  border-style : double;
  border-width : medium;
  border-color : pink;
}
li a {
  display:block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
}
li a:hover {
    background-color: #6DA7F3;
}
